.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 뷰포트 높이를 100%로 설정 */
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; /* 원하는 폼의 너비 */
}

form div {
  margin-bottom: 15px; /* 폼 항목 간의 간격 */
}

table {
  width : 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.centerText {
  text-align: center;
}

.cursorHand {
  cursor:pointer;
}




label {
  width:120px;
  display: inline-block; /* 인라인 블록으로 변경 */
}