
@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/assets/Fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Noto SansKR', sans-serif;
}



* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

span{
  display: inline-block;
}

p{
  margin: 0;
}

input:focus-visible{
  outline: none;
}

input{
  width: 100%;
  height: 34px;
  /* border: 1px solid hsl(203, 41%, 72%); */
  border: 1px solid #219fd5;
  border-radius: 7px;
  padding-left: 10px;
}

input[type='check-box']{
  border-radius: 3px;
}

.selectBox{
  position: relative;
  width: 100%;
  height: 34px;
  /* border: 1px solid hsl(203, 41%, 72%); */
  border: 1px solid #219fd5;
  border-radius: 7px;
  padding-left: 10px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.selectBox .select {
  -webkit-appearance: none; /* Safari, Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 기본 드롭다운 화살표 제거 */
  background: none; /* 배경 제거 */
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}
.selectBox .select option {
  border: 1px solid #219fd5;;
  padding: 3px 0;
  font-size: 16px;
}
.selectBox .icoArrow {
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1; 
  width: 35px; 
  height: 100%;
  border-left: 1px solid #219fd5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
  /* transition: .3s; */
}

.selectBox .placeHolder{
  color: #b0b0b0;
}

.selectBox .dropdown-list{
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  max-height: 200px;
  overflow: auto;
  list-style: none;
  background-color: #fff;
  border: 1px solid #219fd5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 9;
}

.selectBox .dropdown-list li{
  padding-inline: 6px;
  padding-block: 6px;
  border-bottom: 1px solid #219fd5;
}

.selectBox .dropdown-list li:hover{
  background-color: #dbe3f1;
}

.selectBox .dropdown-list li:first-child{
  padding-top: 8px;
}

.selectBox .dropdown-list li:last-child{
  padding-bottom: 8px;
  border: none;
}

.selectBox .selectVal{
  width: calc(100% - 45px);
  max-width: 277px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul{
  margin: 0;
  padding: 0;
}

#root, .App{
  width: 100%;
  height: 100%;
}

.w100{width: 100%;}
.w18{width: 18px;}
.w80{width: 80px;}
.w120{width: 120px;}
.w133{width: 133px;}
.w160{width: 160px;}
.w168{width: 168px;}
.w277{width: 277px;}
.w620{width: 620px;}

.w50p {width: 50%;}

.h17{height: 17px;}
.h40{height: 40px;}
.h42{height: 42px;}
.h100{height: 100%;}
.h190{height: 190px;}

.white{ color: #fff;}
.lime{color: hsl(61, 70%, 52%);}
.red{color: hsl(4, 69%, 50%);}
.btnBg{background-color: #219FD5;}
.bgSlate100{ background-color: hsl(202, 86%, 94%);}
.bgSlate300{ background-color: hsl(203, 41%, 72%);}
.bgSlate500{ background-color: hsl(200, 26%, 54%);}
.bgSlate700{ background-color: hsl(200, 24%, 40%);}
.bgSlate900{ background-color: hsl(202, 55%, 16%);}

.flex{display: flex;}
.flex1{flex: 1;}
.f_d_column{flex-direction: column}
.a_i_center{align-items: center;}
.j_c_center{justify-content: center;}
.j_c_between{justify-content: space-between;}

.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt32{margin-top: 32px;}
.mt36{margin-top: 36px;}
.mt40{margin-top: 40px;}
.mt46{margin-top: 46px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt66{margin-top: 66px;}
.mt67{margin-top: 67px;}
.mt68{margin-top: 68px;}
.mt116{margin-top: 116px;}
.mt125{margin-top: 125px;}

.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px;}
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb19{margin-bottom: 19px;}
.mb26{margin-bottom: 26px;}
.mb30{margin-bottom: 30px;}
.mb32{margin-bottom: 32px;}
.mb40{margin-bottom: 40px;}
.mb44{margin-bottom: 44px;}
.mb60{margin-bottom: 60px;}
.mb68{margin-bottom: 68px;}

.mr0{margin-right: 0px !important;}
.mr3{margin-right: 3px;}
.mr5{margin-right: 5px;}
.mr6{margin-right: 6px;}
.mr10{margin-right: 10px;}
.mr11{margin-right: 11px;}
.mr18{margin-right: 18px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr38{margin-right: 38px;}
.mr40{margin-right: 40px;}

.ml5{margin-left: 5px;}
.ml6{margin-left: 6px;}
.ml24{margin-left: 24px;}
.ml18{margin-left: 18px;}
.ml20{margin-left: 20px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}

.pl39{padding-left: 39px;}

.pr39{padding-right: 39px;}

.fw500{font-weight: 500;}
.fw700{font-weight: 700;}

.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs24{font-size: 24px;}

.t_a_center{text-align: center;}

.border-top-bottom {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.search{
  flex-grow: 1;
  width: auto;
  height: 36px;
  margin-right: 15px;
}

.searchBtn{
  width: 69px;  
  min-width: 69px;
  height: 36px;
  border: 1px solid #219fd5;
  border-radius: 4px;
  cursor: pointer;
}

/* Login */
.loginWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  background-color: hsl(202, 86%, 94%);
}

.loginWrap .box{  
  width: 30%;
  padding-block: 28px;
  padding-inline: 24px;
  background-color: white;
}

.loginWrap .loginBtn{
  width: 100%;
  padding-block: 10px;
  margin-top: 44px;
  background-color: hsl(200, 26%, 54%);;
  border: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.cursor{
  cursor: pointer;
}

.content{
  width: 61.3%;
  max-width: 800px;
  margin-top: 67px;
  margin-bottom: 114px;
}

.alertBg{
  display: none;
  position: fixed;
  background: #000000a3;
  top: 0;
  left: 0;
  opacity: 90%;
  z-index: 10;    
}

.custom-alert{
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 327px;
  height: auto;
  min-height: 184px;
  padding-bottom: 27px;
  background: #fff;  
  border: 2px solid #219fd5;
  border-radius: 12px;
  z-index: 10;  
  transform: translate(-50%, 0px);
}

.custom-alert.faile-alert{
  border: 2px solid hsl(4deg 61.76% 68.29%);;
  color: #ff2a2a;
}

.custom-alert .alert-tit{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 65px;
}

.custom-alert.faile-alert .alert-btn{
  border: 1px solid #ff2a2a;
  width: 168px;
  height: 39px;  
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-alert.ok-alert .alert-btn{
  border: 1px solid #219fd5;
  width: 168px;
  height: 39px;  
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-alert.ok-alert .alert-btn:hover {
  background: hsl(202, 86%, 94%);
  border: 1px solid #219fd5;
}

.custom-alert.faile-alert .alert-btn:hover {
  background: #fff0f0;
  border: 1px solid #ffb19c;
}

.custom-alert .close-r{
  width: 40px;
  height: 40px;  
  margin: 0;
  margin-left: 0;    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;  
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
}

.custom-alert .deco-pin-r{
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 14px;
}

.custom-alert .deco-pin-l{
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 14px;
}

.list-item {
  width: 100%;
  display: flex;
  list-style-type: none;
}

/* header s*/
.logo{
  position: absolute;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.menuBox{
  position: fixed;
  top: 0;
  left: 0;
  height: 67px;
  padding-left: 28px;
  padding-right: 38px;
  background-color: #112A3E;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.menuBox ul{
  height: 100%;
  margin: 0 auto;
}

.menuBox ul > div:last-child {
  width: 100px;
  justify-content: center;
  transition: width 0.3s ease;
}

.MainWrap .menuBox ul li:hover{
  background-color: #63b9ff40;  
}

/* .menuBox ul > div:last-child:hover {
  width: 120px;
  justify-content: center;
} */


.MainWrap .menuBox li{
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.menuBox ul li.active::after {
  content: '';
  position: absolute;
  bottom: -4px; /* 텍스트 하단 바로 아래에 표시 */
  left: 50%;
  right: 0;
  width: 80%;
  min-width: 101px;
  height: 1px;
  transform: translate(-50%, 0px);
  background-color: #fff; /* 흰색 줄 */
}

.logOut{
  position: absolute;
  right: 112px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.adminWrap .logOut{
  right: 10.2em;
}

.goBack{
  position: absolute;
  right: 38px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.hamburger-menu-line{
  width: 50px;
  border: 2px solid #fff;
  background-color: #fff;
}

.hamburger-menu-container {
    position: relative;
    display: none;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.side-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.side-menu ul {
    list-style: none;
    padding: 20px;
}

.side-menu ul li {
    margin: 20px 0;
}

/* Hamburger-menu s 햄버거*/
.hamburger-menu-container {
  position: relative;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.side-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.side-menu.show {
  transform: translateX(-100%);
  left: 68px;
}

.side-menu ul {
  list-style: none;
  padding: 20px;
}

.side-menu ul li {
  margin: 20px 0;
}

/* Hamburger-menu e */
/* header e */

/* Main page s*/

.MainWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header li{
  list-style: none;
  cursor: pointer;
}

/* thumb-list 1 */
.thumb-list{  
  padding-left: 0;
}

.thumb-list li{
  display: flex;
}
.thumb-photo{
  width: 140px;
  height: 138px;
  margin-right: 1.5rem;
  margin-left: 0;
  border-radius: 4px;
  background-color: #b0b0b0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  border: 1px solid #d0d0d0;
}

.thumb-list li:nth-child(2) .thumb-photo{
  background-size: cover;
}

/* thumb-list 2 */

/* .thumb-list.thumb li, .thumb-list.row-line2 li{} */

.thumb-list.thumb .desc {
  overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
  margin:auto 0;
}

.thumb-list .desc{
  width: 100%;
  border-top: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
  /* padding: 1.1em 0; */
}

/* thumb-list 3 */
.thumb-list.row-line2 .desc a{
padding-left: 5.3px;
text-decoration: none;
color: #333;
display:-webkit-box;
overflow:hidden;
height:100%;
display: flex;
flex-direction: column;
justify-content: center;
-webkit-line-clamp:6;
-webkit-box-orient:vertical;
}

.desc a div{
  font-size: 16px;
  color: #464646;
}

.desc a .product_nm{
  font-weight: bold;
}

.desc a .priceText{
  color: #219fd5;
}

.productCount{
  width: 120px; 
  height: 60px;
  font-weight: 700;
}

.product_detail .label{
  margin-right: 33px;
}

.countUp, .countDown, .global-button{
  width: 120px; 
  height: 28px;
  border-radius: 15px;
  border: 1.4px solid #219FD5;
  background-color: hsl(202, 86%, 94%);
  cursor: pointer;
}

.countUp img, .countDown img{
  width: 14px;  
}

.orderBtn{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 63px;
  margin: 0 auto;
  background-color: #112a3e;
  font-size: 20px;
  color: #fff;
}

/* 마이페이지 s*/
.myPage{
  position: absolute;
  right: 35px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.myPageTit{
  margin-top: calc(68px + 67px);
  font-size: 48px;
  font-weight: bold;
}

.myPageWrap .inputList li{
  list-style: none;
}

.myPageWrap li:nth-of-type(1) input, .myPageWrap li:nth-of-type(2) input{
  color: #837f7f;
  border: 1px solid #837f7f;
}

.myPageWrap .inputLabel{
  position: absolute; 
  min-width: 60px; 
  left: -84px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}

.myPageWrap .addrBox{
  position: absolute;
  left: 288px;
  width: 100%;
  max-width: 156px;
  padding-block: 7px;
  padding-inline: 14px;
  background-color: #e3f3fd;
  border-radius: 8px;
  cursor: pointer;
}

.myPageWrap .curAddr{
  position: absolute;
  left: 288px;
  width: 100%;
  max-width: fit-content;
  text-wrap: nowrap;
  padding-block: 5px;
  padding-inline: 14px;
  background-color: #dbe3f1;
  border: 1px solid #8a94ee;
  border-radius: 8px;
  cursor: pointer
}
/* 마이페이지 e */
/* Main page e*/

/* 배송 화면 s*/
.delivery-view-wrap{
  margin: 100px auto 0;
}

.delivery-wrap .delivery-view{
  position: relative;
  margin-top: 30px;
}

.delivery-wrap .delivery-view.sec2{
  margin-top: 220px;
}

.delivery-wrap .truck-ico{
  width: 5.2em;
  height: 5.2em;
  min-height: 4.2em;    
  margin: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;  
  flex-shrink: 0;   
  border: 2px solid #78909c;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.delivery-wrap .dl-group{
  margin-right: 90px;   
  padding: 10px 0px 10px;
  background-color: #fff;    
}

.delivery-wrap .dl-group .delText{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}

.delivery-wrap .line{
  position: absolute;
  width: 100%;
  height: 3.8px;
  background-color: #78909c;
  z-index: -1;
}

.delivery-wrap .connect-line{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0px);
}

.delivery-wrap .connect-round1{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  right: -80px;
  top: 48%;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0 0% 0% 50%);
}

.delivery-wrap .connect-round2{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  left: -80px;
  top: -7.5em;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0% 50% 0% 0%);
}

.delivery-wrap .connect-round1_1{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  right: -13%;
  top: 50px;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0 0% 0% 50%);
}

.delivery-wrap .connect-round2_2{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  left: -13%;
  top: 223px;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0% 50% 0% 0%);
}

.lastDlGroup{
  margin-left: 6em;
}

.deliveryArrow{
  width: 60px;
  height: auto;
  top: 50%;    
  right: -6em;
  transform: translate(0%, -50%);
}

.deliveryArrow.last{
  left: -6em;
  z-index: 100;
}

.dlArrive .delText{
  font-size: 18px;
  color: #219FD5;
  font-weight: bold;
}
/* 배송 화면 e*/

/* 관리자 화면 s */
.adminWrap{  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partListBtn{
  width: 88px;
  height: 23px;
  right: 10px;
  bottom: 12.4px;
  border: 1px solid #219fd5;
  border-radius: 6px;
}
.adminWrap .thumb-list.row-line2 li{
  align-items: stretch;
}
.adminWrap .countBox{
  border-bottom: 1px solid #000;
}
.adminWrap .partListContent{
  /* width: 50%; */
}
.adminWrap .menuBox li{
  padding-inline:20px;
  color: #fff;
  text-align: center;
}
.adminWrap .dd-menu{
  opacity: 0; /* 기본적으로 투명하게 설정 */
  transform: translateY(-10px); /* 약간 위로 이동된 상태 */
  transition: ease .3s; /* 전환 효과 */
  position: absolute;
  top: 67px;
  width: 100px;
  height: auto;
  text-align: center;
  background-color: #474442;
  pointer-events: none; /* 기본적으로 클릭 불가능 */
}
.adminWrap .dd-menu.visible {
  opacity: 1; /* 불투명하게 설정 */
  transform: translateY(0);
  pointer-events: auto; /* 보일 때 클릭 가능 */
}
.adminWrap .dd-menu.delivery{
  width: 120px;
}
.adminWrap .dd-menu div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminWrap .dd-menu div:hover{
  background-color: #626a6d;
  transition: ease .7s;
}

/* 제품 등록/수정 */
.formWrap .formTit{
  margin-top: 44px;
  margin-bottom: 47px;
  font-weight: bold;
  font-size: 30px;
}
.formWrap .formLeft{
  margin-right: 74px;
}
.formWrap .selectBox option:first-of-type {
  color: #ddd;
}
.formWrap input, .formLeft .selectBox{
  width: 100%;
  min-width: 277px;
}
.adminWrap .formWrap input, .formLeft .selectBox{
  margin-bottom: 24px;
}
.formWrap .inputTit{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.formWrap button{
  padding-block: 7px;
  border-radius: 7px;
  border: 1px solid #219FD5;
  /* background-color: #fff;   */
}
.formWrap .file-sel-btn{
  width: 100px;
  background-color: #fff;
}
.formWrap .noneImgBox{
  height: 334px;
  border: 1px solid #ddd;
}
.formWrap .noneImgThumb{
  width: 141px;
  height: 138px;
  object-fit: cover;
  background-position: center;
  border: 1px solid #ddd;
}
.formWrap .cancle{
  background-color: #fff;
  border: 1px solid #ff2a2a;
  color: #ff2a2a;
}
.formWrap .delete{
  height: 40px;
  background-color: #ff2a2a;
  color: #fff;
  border: none;
}

/* input number 기본 화살표 숨기기 */
.formWrap input[type=number]::-webkit-inner-spin-button,
.formWrap input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 상품 목록 테이블 s */
.goodsTableWrap{
  width: 80%;
  padding-inline: 39px;
  margin: 0 auto 126px;
}
.grid-container{
  display: grid;
  grid-template-columns: 41px repeat(7, auto);
  border: 1px solid #112a3e;  
  font-size: 16px;
}
.grid-item-group{
  display: contents
}
.grid-item{
  text-align: center;
}
.grid-item.header{
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4472c4;
  border-left: 1px solid #e3f3fd;
  color: #fff;
}
.grid-item.checkBox{  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f5fc;
}
.grid-item.data{
  height: auto;
  min-height: 31px;
  background-color: #dbe3f1;
  border-top: 1px solid #e3f3fd;
  border-left: 1px solid #464646;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item.data.even{
  background-color: #f7f7f7;
}
.grid-item.data.del{
  color:#ff2a2a;
  cursor: pointer;
}
/* 행마다 두 번째 셀의 border-left 제거 */
/* .grid-container > .data:nth-child(8n + 2) {
  border-left: 0;
} */

.grid-container .grid-item-group .grid-item:nth-child(1){
  border-left: 0;
}

/* 상품 목록 테이블 e */

/* 상품 상세 s */
.detailWrap{
  margin: 0 auto;
}
/* 상품 상세 e */

/* 부품 목록 팝업 s*/
.partPopup{
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: calc(100% - 340px);
  overflow: auto;
  /* padding-left: 40px;   */
}

.partPopup.custom-alert .alert-tit{
  margin: 65px 0 0;
  font-size: 22px;
  font-weight: bold;
}

.partPopup .inputList {
  padding-left: 20px;
}

.partPopup .thumb-list.row-line2{
  width: 100%;
  padding-right: 20px;
  overflow: auto;
}

.partPopup .inputList li{
  list-style: none;
}

.partPopup .inputList li input{
  margin-bottom: 0;
}

.partPopup li:nth-of-type(1) input, .partPopup li:nth-of-type(2) input{
  color: #837f7f;
  border: 1px solid #837f7f;
}

.partPopup .inputLabel{
  position: absolute; 
  min-width: 60px; 
  left: -84px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}
/* 부품 목록 팝업 e*/

/* 부품 목록(제품별 부품목록, 전체 부품 목록) s*/
.partListContent{
  margin-bottom: 114px;
}

.partListContent .partOrderBtn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  background: #30597a;
  color: white;
  padding: 3px 20px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 호버 효과용 트랜지션 */
  cursor: pointer; 
}

.partListContent .partOrderBtn:hover{
  background-color: #112a3e;
  transform: translateY(-2px); /* 호버 시 살짝 위로 이동 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.partListContent .partOrderBtn.disabled{
  background-color: #c9c9c9;  
}

.partListContent .partOrderBtn.disabled:hover{
  background-color: 0;
  transform: translateY(0px); /* 호버 시 살짝 위로 이동 */
  box-shadow: none;
  cursor: auto;
}

.addPartBtn{
  position: fixed;
  bottom: 9rem;
  right: 18%;
  height: 8rem;
  width: 8rem;
  padding-left: 4px;
  background: linear-gradient(135deg, #6aaeff, #1a8cff);
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 1.6rem;
  letter-spacing: 4px;
  text-align: center;
  cursor: pointer;
}

.charvesPartsBtn{
  position: fixed;
  bottom: 9rem;
  right: 18%;
  height: 8rem;
  width: 8rem;
  padding-left: 4px;
  background: linear-gradient(135deg, #98beff, #177bdf);    
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 1.6rem;
  letter-spacing: 4px;
  text-align: center;
  cursor: pointer;
}

.charvesPartsBtn:hover{
  background: linear-gradient(135deg, #98beff, #135394);
}
/* 부품 목록 e */

/* 관리자 화면 e */

/* 페이지네이션 스타일 s*/
.pagiNationBox{
  grid-column: 1 / -1; /* table 내의 한 행의 너비를 모두 차지하도록 조정 */
}
.pagiNaition.customLocation{
  margin-top: 38px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px);
}
/* 페이지네이션 스타일 e */

/* 주문목록 s */
.OrderListWrap .countBox{
  border-bottom: 1px solid #000;
}
.OrderListWrap .list-inner-item{
  width: calc(100% - 140px);
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.OrderListWrap .desc{
  width: calc(100% - 180px);
  border-top: 0;
  border-bottom: 0;
}
.OrderListWrap .label{
  white-space: nowrap;
}
.thumb-list .order-date:first-of-type{
  margin-top: 36px;
}
.order-date{
  margin-top: 80px;
  padding-block: 8px;
  border-top: 1px solid #c9c9c9;
  margin-bottom: -32px;
  font-size: 16px;
  color: #464646;
  line-height: 1.0;
}
  /* toolTip s*/
  /* Tooltip container */
  .OrderListWrap .thumb-list.row-line2 .desc a{
    overflow: visible;
  }

  .tooltip {
    position: relative;
    display: flex;    
  }

  .tooltipTitBox{
    overflow: hidden;
  }

  .tooltip .tooltipTit{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    width: calc(100% - 10%);
    background-color: #8a94ee;
    color: #fff;
    line-height: 1.19;
    text-align: left;
    padding: 9px 9px 7px 14px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 93px;
    top: calc(-100% - 8px);
    transform: translate(0px, -50%);
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: calc(100% - 1px);
    right: 24px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #8a94ee transparent transparent transparent;
  }
  /* toolTip e */
/* 주문목록 e */

/* 장바구니 s */
.orderAdddBtn{
  width: auto;
  height: auto;
  right: 10px;
  bottom: 12.4px;
  border: 1px solid #219fd5;
  border-radius: 6px;
}

.orderListCont{
  width: 100%;
  padding-inline: 80px;
}

.orderListPopup{
  top: 50%;
  transform: translate(-50%, -50%);
  width: 61.3%;
  max-width: 800px;
  height: auto;
  max-height: calc(100% - 200px);
  overflow: auto;  
}

.orderListPopup .desc{
  border-top: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
}

.orderListPopup .desc a{
  padding-left: 5.3px;
  text-decoration: none;
  color: #333;  
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.orderListPopup .countBox{
  border-bottom: 1px solid #000;
}

.custom-alert .cancle{
  margin-right: 0;
}

.totalCntDesc {
  position: absolute;
  right: 10px;
  bottom: 43.4px;
  padding: 10px;
  background-color: hsl(200, 26%, 54%);
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* 0.5초 동안 서서히 변함 */
}

.marketIco{
  position: absolute;
  bottom: 8.8rem;
  width: 100px;
  height: 100px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 4px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;  
}

.trashBasket{
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 4px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;  
}
/* 장바구니 e */


.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* 반응형 */

/* 모바일 스타일 적용 */
@media (max-width: 600px) {
  .loginWrap .box{
    width: 88%;
  }
}

@media (max-width: 1024px) {
  /* .logo{
    width: 60px;
    word-wrap: break-word;
    font-size: 14px;
  } */

  .header-right-menu{
    display: none;
  }

  .hamburger-menu-container{
    display: flex;
  }

  .menu-list{
    visibility: hidden;
  }

  .addPartBtn, .charvesPartsBtn{
    width: 5.8rem !important;
    height: 5.8rem !important;
    font-size: 16px;
    right: 3vw;
  }
}

/* 태블릿 스타일 적용 */
@media (min-width: 601px) and (max-width: 1024px) {
  .loginWrap .box{
    width: 40%;
  }
}

/* 너비 1031px 이하 */
@media (max-width: 1031px){
  .goodsTableWrap{
    width: 100%;
    padding-inline: 39px;
  }
  .table-search-box{
    width: 620px;
  }

  .addPartBtn, .charvesPartsBtn{
    width: 7rem;
    height: 7rem;
    right: 3vw;
  }
}

/* 데스크탑 스타일 적용 */
@media (min-width: 1025px) and (max-width: 1440px) {
  .goodsTableWrap{
    width: 100%;
    padding-inline: 30px;
  }

  .addPartBtn, .charvesPartsBtn{
    width: 7rem;
    height: 7rem;
    right: 6vw;
  }
}

/* 너비 1607px ~ 1440px 구간*/
@media (min-width: 1440px) and (max-width: 1607px) {
  .addPartBtn, .charvesPartsBtn{
    right: 10%;
  }
}

/* 대형 데스크탑 스타일 적용 */
@media (min-width: 1441px) {
  .loginWrap .box{
    width: 388px;
  }
}