* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

span{
  display: inline-block;
}

p{
  margin: 0;
}

input:focus-visible{
  outline: none;
}

input{
  width: 100%;
  height: 34px;
  border: 1px solid hsl(203, 41%, 72%);
  border-radius: 6px;
  padding-left: 10px;
}

ul{
  margin: 0;
  padding: 0;
}

#root, .App{
  width: 100%;
  height: 100%;
}

.w100{width: 100%;}
.h100{height: 100%;}

.white{ color: #fff;}
.lime{color: hsl(61, 70%, 52%);}
.red{color: hsl(4, 69%, 50%);}
.btnBg{background-color: #219FD5;}
.bgSlate100{ background-color: hsl(202, 86%, 94%);}
.bgSlate300{ background-color: hsl(203, 41%, 72%);}
.bgSlate500{ background-color: hsl(200, 26%, 54%);}
.bgSlate700{ background-color: hsl(200, 24%, 40%);}
.bgSlate900{ background-color: hsl(202, 55%, 16%);}

.flex{display: flex;}
.f_d_column{flex-direction: column}
.a_i_center{align-items: center;}
.j_c_center{justify-content: center;}
.j_c_between{justify-content: space-between;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}

.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px;}
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb26{margin-bottom: 26px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb44{margin-bottom: 44px;}
.mb60{margin-bottom: 60px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}

.ml20{margin-left: 20px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}

.fw500{font-weight: 500;}
.fw700{font-weight: 700;}

.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}

.t_a_center{text-align: center;}

.border-top-bottom {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Login */
.loginWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  background-color: hsl(202, 86%, 94%);
}

.loginWrap .box{  
  width: 30%;
  padding-block: 28px;
  padding-inline: 24px;
  background-color: white;
}

.loginWrap .loginBtn{
  width: 100%;
  padding-block: 10px;
  margin-top: 44px;
  background-color: hsl(200, 26%, 54%);;
  border: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

/* Main page s*/

.MainWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainWrap .menuBox{
  /* box-shadow: hsl(202, 55%, 16%) 0px 5px, hsl(200, 24%, 40%) 0px 10px, hsl(200, 26%, 54%) 0px 15px, hsl(203, 41%, 72%) 0px 20px, hsl(202, 86%, 94%) 0px 25px; */
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
}

.MainWrap li{
  list-style: none;
  cursor: pointer;
}

.MainContent{
  width: 60%;
}

/* thumb-list 1 */
.thumb-list{  
  padding-left: 0;
}

.thumb-list li{
  display: flex;
}
.thumb-photo{width: 140px;height: 138px;border: 2px solid rgba(0,0,0,0.3); 
  border-radius: 4px;background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;margin-right: 10px;flex-shrink: 0;
  margin-right: 1.5rem;
}

.thumb-list li:nth-child(2) .thumb-photo{
  background-size: 110%;
}

/* thumb-list 2 */
.thumb-list.thumb li, .thumb-list.row-line2 li{
  align-items: center;
}
.thumb-list.thumb .desc {
  overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
  margin:auto 0;
}
.thumb-list .desc{
  width: 100%;
  border-top: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
  padding: 1.6em 0;
}

/* thumb-list 3 */
.thumb-list.row-line2 .desc a {
text-decoration: none;
color: #333;
display:-webkit-box;overflow:hidden;height:105px;
-webkit-line-clamp:5;-webkit-box-orient:vertical;
}

.productCount{
  width: 120px; 
  height: 60px;
  font-weight: 700;
}

.countUp, .countDown{
  width: 120px; 
  height: 28px;
  border-radius: 15px;
  border: 1.4px solid #219FD5;
  background-color: hsl(202, 86%, 94%);
  cursor: pointer;
}

.countUp img, .countDown img{
  width: 14px;  
}

.orderBtn{
  width: 50%;
  height: 44px;
  margin: 0 auto;
}

.MainWrap .searchBtn{
  width: 80px;
  border: 1px solid;
  cursor: pointer;
}
/* Main page e*/

/* 반응형 */

/* 모바일 스타일 적용 */
@media (max-width: 600px) {
  .loginWrap .box{
    width: 88%;
  }
}

/* 태블릿 스타일 적용 */
@media (min-width: 601px) and (max-width: 1024px) {
  .loginWrap .box{
    width: 40%;
  }
}

/* 데스크탑 스타일 적용 */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* 대형 데스크탑 스타일 적용 */
@media (min-width: 1441px) {
  .loginWrap .box{
    width: 388px;
  }
}