
@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Noto SansKR';
  src: url('../../public/assets/Fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/assets/Fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Noto SansKR', sans-serif;
}



* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

span{
  display: inline-block;
}

p{
  margin: 0;
}

input:focus-visible{
  outline: none;
}

input{
  width: 100%;
  height: 34px;
  /* border: 1px solid hsl(203, 41%, 72%); */
  border: 1px solid #219fd5;
  border-radius: 7px;
  padding-left: 10px;
}

ul{
  margin: 0;
  padding: 0;
}

#root, .App{
  width: 100%;
  height: 100%;
}

.w100{width: 100%;}
.h100{height: 100%;}

.white{ color: #fff;}
.lime{color: hsl(61, 70%, 52%);}
.red{color: hsl(4, 69%, 50%);}
.btnBg{background-color: #219FD5;}
.bgSlate100{ background-color: hsl(202, 86%, 94%);}
.bgSlate300{ background-color: hsl(203, 41%, 72%);}
.bgSlate500{ background-color: hsl(200, 26%, 54%);}
.bgSlate700{ background-color: hsl(200, 24%, 40%);}
.bgSlate900{ background-color: hsl(202, 55%, 16%);}

.flex{display: flex;}
.f_d_column{flex-direction: column}
.a_i_center{align-items: center;}
.j_c_center{justify-content: center;}
.j_c_between{justify-content: space-between;}

.relative{position: relative;}
.absolute{position: absolute;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt32{margin-top: 32px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}

.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px;}
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb26{margin-bottom: 26px;}
.mb30{margin-bottom: 30px;}
.mb32{margin-bottom: 32px;}
.mb40{margin-bottom: 40px;}
.mb44{margin-bottom: 44px;}
.mb60{margin-bottom: 60px;}

.mr0{margin-right: 0px !important;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}

.ml20{margin-left: 20px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}

.fw500{font-weight: 500;}
.fw700{font-weight: 700;}

.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}

.t_a_center{text-align: center;}

.border-top-bottom {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.search{
  height: 36px;
  margin-right: 15px;
}

.searchBtn{
  width: 69px;  
  min-width: 69px;
  height: 36px;
  border: 1px solid #219fd5;
  border-radius: 4px;
  cursor: pointer;
}

/* Login */
.loginWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  background-color: hsl(202, 86%, 94%);
}

.loginWrap .box{  
  width: 30%;
  padding-block: 28px;
  padding-inline: 24px;
  background-color: white;
}

.loginWrap .loginBtn{
  width: 100%;
  padding-block: 10px;
  margin-top: 44px;
  background-color: hsl(200, 26%, 54%);;
  border: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.cursor{
  cursor: pointer;
}

/* header s*/
.logo{
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.menuBox{
  position: fixed;
  top: 0;
  left: 0;
  height: 67px;
  padding-left: 28px;
  padding-right: 38px;
  background-color: #112A3E;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25)

}

.menuBox li{
  color: #fff;
}

.logOut{
  background-color: transparent;
  border: none;
  color: #fff;
}
/* header e */

/* Main page s*/

.MainWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainWrap li{
  list-style: none;
  cursor: pointer;
}

.MainContent{
  width: 60.1%;
  margin-top: 67px;
  margin-bottom: 231px;
}

/* thumb-list 1 */
.thumb-list{  
  padding-left: 0;
}

.thumb-list li{
  display: flex;
}
.thumb-photo{
  width: 140px;
  height: 138px;
  margin-right: 1.5rem;
  margin-left: 0;
  border: 2px solid rgba(0,0,0,0.3); 
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}

.thumb-list li:nth-child(2) .thumb-photo{
  background-size: cover;
}

/* thumb-list 2 */

/* .thumb-list.thumb li, .thumb-list.row-line2 li{} */

.thumb-list.thumb .desc {
  overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
  margin:auto 0;
}

.thumb-list .desc{
  width: 100%;
  border-top: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
  /* padding: 1.1em 0; */
}

/* thumb-list 3 */
.thumb-list.row-line2 .desc a {
text-decoration: none;
color: #333;
display:-webkit-box;
overflow:hidden;
height:100%;
display: flex;
flex-direction: column;
justify-content: center;
-webkit-line-clamp:6;
-webkit-box-orient:vertical;
}

.desc a div{
  font-size: 16px;
  color: #464646;
}

.desc a .product_nm{
  font-weight: bold;
}

.desc a .priceText{
  color: #219fd5;
}

.productCount{
  width: 120px; 
  height: 60px;
  font-weight: 700;
}

.countUp, .countDown, .global-button{
  width: 120px; 
  height: 28px;
  border-radius: 15px;
  border: 1.4px solid #219FD5;
  background-color: hsl(202, 86%, 94%);
  cursor: pointer;
}

.countUp img, .countDown img{
  width: 14px;  
}

.orderBtn{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 63px;
  margin: 0 auto;
  background-color: #112a3e;
  font-size: 20px;
  color: #fff;
}
/* Main page e*/

/* 배송 화면 s*/
.delivery-view-wrap{
  margin: 0 auto;
}

.delivery-wrap .delivery-view{
  position: relative;
  margin-top: 30px;
}

.delivery-wrap .delivery-view.sec2{
  margin-top: 240px;
}

.delivery-wrap .truck-ico{
  width: 5.2em;
  height: 5.2em;
  min-height: 4.2em;    
  margin: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;  
  flex-shrink: 0;   
  border: 1px solid #b0b0b0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.delivery-wrap .dl-group{
  margin-right: 90px;   
  padding: 10px 0px 10px;
  background-color: #fff;    
}

.delivery-wrap .dl-group .delText{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}

.delivery-wrap .line{
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  z-index: -1;
}

.delivery-wrap .connect-line{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0px);
}

.delivery-wrap .connect-round1{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  right: -80px;
  top: 48%;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0 0% 0% 50%);
}

.delivery-wrap .connect-round2{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  left: -80px;
  top: -7.5em;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0% 50% 0% 0%);
}

.delivery-wrap .connect-round1_1{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  right: -13%;
  top: 50px;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0 0% 0% 50%);
}

.delivery-wrap .connect-round2_2{
  position: absolute;
  width: 11.4em;
  height: 11.1em;
  /* background-color: #eee; */
  z-index: -1;
  left: -13%;
  top: 223px;
  border-radius: 50%;
  border: 4px solid #ddd;
  clip-path: inset(0% 50% 0% 0%);
}

/* 배송 화면 e*/

/* 관리자 화면 s */
.adminWrap{
  padding-bottom: 120px;
}
.partListBtn{
  right: 10px;
  bottom: 10px;
}
.adminWrap .thumb-list.row-line2 li{
  align-items: stretch;
}
.adminWrap .countBox{
  border-bottom: 1px solid #000;
}
.adminWrap .adminContent{
  width: 50%;
  margin: 0 auto;
}
.adminWrap .partListContent{
  width: 50%;
  margin: 0 auto;
}
/* 관리자 화면 e */

/* 반응형 */

/* 모바일 스타일 적용 */
@media (max-width: 600px) {
  .loginWrap .box{
    width: 88%;
  }
}

/* 태블릿 스타일 적용 */
@media (min-width: 601px) and (max-width: 1024px) {
  .loginWrap .box{
    width: 40%;
  }
}

/* 데스크탑 스타일 적용 */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* 대형 데스크탑 스타일 적용 */
@media (min-width: 1441px) {
  .loginWrap .box{
    width: 388px;
  }
}